{
    admin :2019
    auto_https off
}

(cors) {
    header {
        Access-Control-Allow-Origin *
        Access-Control-Allow-Methods *
        Access-Control-Allow-Headers *
        Access-Control-Allow-Credentials true
    }
}

http://rw.imdancer.com {
    reverse_proxy nextjs-app:3000
    import cors
}

http://neo4j.imdancer.com {
    reverse_proxy neo4j:7474
    import cors
}
